<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="blog.mapper.StoryThemeMapper">
	<resultMap id="baseThemeStory" type="blog.dto.output.Story">
		<id column="uid" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
	</resultMap>


	<!--<select id="getHotStoryById" parameterType="java.lang.Integer" resultMap="baseHotNews">
		select uid,title,image from tb_hotnews where uid=#{id}
	</select>

	<select id="getHotStory"  resultMap="baseHotNews">
		select uid,title,image from tb_hotnews;
	</select>-->

	<select id="getSportsThemeByNum" parameterType="java.lang.Integer" resultMap="baseThemeStory">
		select uid,title,image from tb_dailysports ORDER BY uid DESC LIMIT 0,#{num};
	</select>
	<select id="getPsychologyThemeByNum" parameterType="java.lang.Integer" resultMap="baseThemeStory">
		select uid,title,image from tb_dailypsychology ORDER BY uid DESC LIMIT 0,#{num};
	</select>
	<select id="getRecommendThemeByNum" parameterType="java.lang.Integer" resultMap="baseThemeStory">
		select uid,title,image from tb_peoplerecommend ORDER BY uid DESC LIMIT 0,#{num};
	</select>

	<insert id="insertSportsTheme">
		INSERT ignore INTO tb_dailysports (uid,title,image,type)
		VALUES 
		<foreach collection="array" item="item" index="index" separator=",">
			(#{item.id,jdbcType=INTEGER},#{item.title,jdbcType=VARCHAR},#{item.image,jdbcType=VARCHAR},#{item.type,jdbcType=BOOLEAN})
		</foreach>
 	</insert>
	<insert id="insertPsychologyTheme">
		INSERT ignore INTO tb_dailypsychology (uid,title,image,type)
		VALUES
		<foreach collection="array" item="item" index="index" separator=",">
			(#{item.id,jdbcType=INTEGER},#{item.title,jdbcType=VARCHAR},#{item.image,jdbcType=VARCHAR},#{item.type,jdbcType=BOOLEAN})
		</foreach>
 	</insert>
	<insert id="insertRecommendTheme">
		INSERT ignore INTO tb_peoplerecommend (uid,title,image,type)
		VALUES
		<foreach collection="array" item="item" index="index" separator=",">
			(#{item.id,jdbcType=INTEGER},#{item.title,jdbcType=VARCHAR},#{item.image,jdbcType=VARCHAR},#{item.type,jdbcType=BOOLEAN})
		</foreach>
 	</insert>
</mapper>