<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <security:debug/>
    <!--不需要被拦截的请求-->
    <security:http pattern="/login" security="none"></security:http>
    <security:http pattern="/css/*" security="none"></security:http>
    <security:http pattern="/css/personalInfo/*" security="none"></security:http>
    <security:http pattern="/images/*" security="none"></security:http>
    <security:http pattern="/images/personalInfo/*" security="none"></security:http>
    <security:http pattern="/staticPages/*" security="none"></security:http>
    <security:http pattern="/js/*" security="none"></security:http>
    <security:http pattern="/js/personalInfo/*" security="none"></security:http>
    <security:http pattern="/api/*" security="none"></security:http>
    <security:http pattern="/get/*" security="none"></security:http>
    <security:http pattern="/get/entry/*" security="none"></security:http>
    <security:http pattern="/index.jsp" security="none"></security:http>
    <!--<security:http pattern="/" security="none"></security:http>-->

    <!--设置匹配admin url，登录页面和所拥有的权限，以及引用adminAutnenticationManager验证管理 -->
    <security:http auto-config="true" pattern="/adminTopThanSky/**" use-expressions="true"
                   authentication-manager-ref="adminAutnenticationManager">
        <security:form-login login-page="/pages/adminLoginLogin.jsp" authentication-failure-url="/pages/adminLoginLogin.jsp"
                             username-parameter="username" password-parameter="password"
                             login-processing-url="/adminTopThanSky/adminLogin"
                             default-target-url="/adminTopThanSky/adminfeiya"/>
        <security:logout logout-url="/adminTopThanSky/logout" logout-success-url="/pages/adminLoginLogin.jsp"/>
        <security:intercept-url pattern="/adminTopThanSky/**" access="hasRole('ROLE_ADMIN')"></security:intercept-url>
    </security:http>

    <security:http auto-config="true" pattern="/user/**" use-expressions="true"
                   authentication-manager-ref="userAutnenticationManager">
        <security:form-login login-page="/pages/customerLogin.jsp" authentication-failure-url="/pages/customerLogin.jsp"
                             username-parameter="username" password-parameter="password"
                             login-processing-url="/user/userLogin"
                             />
        <security:logout logout-url="/user/logout" logout-success-url="/pages/customerLogin.jsp"/>
        <security:intercept-url pattern="/user/**" access="hasRole('USER_ROLE')"></security:intercept-url>
    </security:http>

    <security:authentication-manager id="adminAutnenticationManager">
        <security:authentication-provider user-service-ref="adminDetailService">

           <!-- <security:password-encoder hash="md5"/>-->
        </security:authentication-provider>
    </security:authentication-manager>
    <security:authentication-manager id="userAutnenticationManager">
        <security:authentication-provider ref="authenticationProvider">

        </security:authentication-provider>
       <!-- <security:authentication-provider user-service-ref="userDetailService">
            &lt;!&ndash; <security:password-encoder hash="md5"/>&ndash;&gt;
        </security:authentication-provider>-->
    </security:authentication-manager>
    <bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="hideUserNotFoundExceptions" value="false" />
        <property name="userDetailsService" ref="userDetailService" />
    </bean>

</beans>