@CHARSET "UTF-8";
html{
    font-size: 12px;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
    word-break: break-all;
    text-rendering: optimizeLegibility;
    color: #333;
    background-color: #f4f5f5;
}
body{
    margin: 0;
    width: 100%;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}
div{
    display: block;
}