@CHARSET "UTF-8";
.main-header-box{
    position: relative;
    height: 5rem;
}
.main-header{
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 5rem;
    z-index: 250;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.container{
    position: relative;
    max-width: 960px;
    margin: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.logo{
    margin-right: 2rem;
}
.logoImg{
    width: 4.8rem;
    height: 3.6rem;
}
.main-nav{
    height: 100%;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    display: block;
}
.nav-list{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    height: 100%;
    margin: 0;
    /*justify-content: flex-end;*/
    position: relative;
    -webkit-box-pack: end;
}
.main-nav-list{
    display: flex;
    width: 100%;
}
.nav-items{
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item{
     padding: 0 1.5rem;
     height: 5rem;
     color: #71777c;
     font-size: 1.33rem;
     -webkit-box-pack: center;
     justify-content: center;
     cursor: pointer;
     display: flex;
     -webkit-box-align: center;
     margin: 0;
     align-items: center;
     position: relative;
 }
.nav-item :last-child{
    padding-right: 0;
}
/* ul{
     padding: 0;
     list-style-type: circle;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     -webkit-padding-start: 40px
 }*/
.writearticle{
    padding-left: 5.5rem;
    position: relative;
}
.articleicon{
    font-size: 2rem;
    margin-top: 2px;
    margin-right: 4px;
}
.towrite{
  color: #007fff;
}
.writearticle :after{
    content: "|";
    position: absolute;
    top: 20px;
    left: 100%;
    color: hsla(0,0%,59%,.4);
}
.loginRegister{
    padding-right: 0;
    color: #007fff;
}
/*.login{
}*/
.login:after{
    content: "\b7";
    margin: 0 .4rem;
}
.headImgContainer{
    padding-left: 5.6rem;
    position: relative;
    padding-right: 0;
}
.lazy{
    width: 2.5rem;
    height: 2.5rem;
/*    border-radius: 50%;*/
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #eee;*/
}
.headImg{
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
li {
    list-style: none;
    text-align: -webkit-match-parent;
}
/*dropMenuList Start*/
.nav-menu.user-dropdown-list{
    width: 13rem;
    right: 0;
    left: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.nav-menu{
    position: absolute;
    /*width: 11rem;*/
    /*left: 50%;*/
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid hsla(217,5%,71%,.45);
    border-radius: 4px;
    font-size: 1.2rem;
}
.nav-menu.user-dropdown-list .nav-menu-item-group:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.04);
}
.nav-menu .nav-menu-item-group{
    padding: 1rem 0;
}
.nav-menu .nav-menu-item{
    font-size: 1.3rem;
    cursor: pointer;
}
.nav-menu .nav-menu-item>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem 1rem;
}
.nav-menu-item>a{
    color: #71777c;
}
.fengwei{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .8rem;
    font-size: 1.2em;
    vertical-align: middle;
    color: #b2bac2;
}
.fengwei {
    font-family: "fengwei" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fw-write:before{
    content: "\e60d";
}
.fw-draft:before {
    content: "\e60e";
}
/*dropMenuList end*/
[v-cloak]{
    display: none;
}